<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <general>
            <limitless_footer_links>
                <max_footer_items>0</max_footer_items>
                <max_footer_titles_per_column>0</max_footer_titles_per_column>
            </limitless_footer_links>
        </general>
    </default>
</config>