<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\Customer\Model\Plugin\CustomerNotification">
        <plugin name="Limitless_Worldpay_TDS"
                type="Limitless\Worldpay_TDS\Plugin\CustomerNotificationPlugin"/>
    </type>
    <preference for="Worldpay\Payments\Model\Config" type="Limitless\Worldpay_TDS\Model\WorldpayConfig" />
</config>