<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <general>
            <limitless_sales_hotline>
                <timezone>Europe/London</timezone>
                <sales_number>0344 417 2563</sales_number>
                <monday_open>1</monday_open>
                <monday_opening_time>08,30,00</monday_opening_time>
                <monday_closed_time>22,00,00</monday_closed_time>
                <tuesday_open>1</tuesday_open>
                <tuesday_opening_time>08,30,00</tuesday_opening_time>
                <tuesday_closed_time>22,00,00</tuesday_closed_time>
                <wednesday_open>1</wednesday_open>
                <wednesday_opening_time>08,30,00</wednesday_opening_time>
                <wednesday_closed_time>22,00,00</wednesday_closed_time>
                <thursday_open>1</thursday_open>
                <thursday_opening_time>08,30,00</thursday_opening_time>
                <thursday_closed_time>22,00,00</thursday_closed_time>
                <friday_open>1</friday_open>
                <friday_opening_time>08,30,00</friday_opening_time>
                <friday_closed_time>17,00,00</friday_closed_time>
                <saturday_open>1</saturday_open>
                <saturday_opening_time>08,30,00</saturday_opening_time>
                <saturday_closed_time>17,00,00</saturday_closed_time>
                <sunday_open>0</sunday_open>
                <sunday_opening_time>08,30,00</sunday_opening_time>
                <sunday_closed_time>17,00,00</sunday_closed_time>
                <check_interval>999</check_interval>
                <closed_text>Closed text</closed_text>
                <open_text>Open text</open_text>
                <helpcentre_link>www.helpcentrelinkexample.com</helpcentre_link>
            </limitless_sales_hotline>
        </general>
    </default>
</config>