.category-links span {color:#666666;}
.category-links {margin:1.5%!important;box-shadow:3px 4px 17px 1px lightgrey!important;}
.price-from {color:#F3342F!important;font-size:20px!important;}
.navigation .level0 .submenu .active > a {border-color:#389ECB!important;}
.social-footer-links {float:right; padding:0!important; width:34%;}
.social-link {display:inline-block;margin-right:13px!important;}
.social-link:last-child {margin-right:0!important;}
button.action.tocart.primary {background-color:#20A020;}

@media only screen and (max-width:768px) {
    .category-links {width:45%;}
    .category-links img {margin-bottom:10px;width:90%;margin-top:8px;}
    .view-all {width:90%;margin:0 auto;margin-bottom:8px;margin-top:8px;font-size:15px;}
    .cat-title {font-size:18px;}
    .category-links span {font-size:11px;}
    .navigation .level0 > a:not(.ui-state-active) span:not(.ui-menu-icon) {
        text-transform:none;
        font-size: 17px!important;
    }
    .cms-home div.columns {display:block!important;}
    .navigation a, .navigation a:hover {font-weight:normal;color:white!important;}
    .navigation .level0 {border-top:1px solid #234577;}
    .navigation .level0.active .all-category .ui-state-focus {color:white!important;border-color:none!important;border-style:none!important;border-width:none!important;}
    .navigation .level0 > li {width:100%;background-color:#061F3A;border-top:1px solid #234577;}
    .navigation .level0 > .level-top {font-size:1.6rem; text-transform:none!important;}
    .nav-sections .header.links li > a {color:white;border-top:1px solid #234577;font-weight:normal;}
    .nav-sections-item-title {height:63px;padding-top:24px;}
    .social-footer-links {float:none;width:100%;margin:0 auto!important;text-align:center;}
    .social-link {margin-right:0px!important;}
    .social-link div {padding:0 10px;}
}