#banner-hp {
  margin-bottom: 1.5%;
  img {
    margin: 0 auto;
  }
  .desktop-hp-banner {
    display: block;
    width: 100%;
    max-width: 1280px;
  }
  .mobile-hp-banner {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .page-header {
    margin-bottom: 0!important;
    border-bottom: 0!important;
  }
  #banner-hp {
    margin-bottom: 2.5%;
  }
}

@media only screen and (max-width: 480px) {
  .desktop-hp-banner {
    display: none !important;
  }

  .mobile-hp-banner {
    display: block !important;
  }
}