.product.media {
    position:relative;
}

.discount-splat {
    position:absolute;
    top:2%;
    right:2%;
    width:70px;
    height:70px;
    padding:10px;
    border: 4px solid #c0272d;
    color:#c0272d;
    border-radius:50%;
    background:#ffffff;
    display:table;
    text-align:center;
}

.discount-splat > span {
    display:table-cell;
    vertical-align:middle;
    font-size:26px;
    font-weight:700;
    letter-spacing:1px;
}

/* Splat Styles for product grid/view */
.products-grid .product-item, .products-list .product-item {
    position:relative;
}

.products-grid .product-item .discount-splat, .products-list .product-item .discount-splat {
    width:40px;
    height:40px;
    top:5px;
    right:5px;
    z-index:1;
}

.products-grid .product-item .discount-splat > span, .products-list .product-item .discount-splat > span {
    font-size:14px;
}

@media (min-width:640px) {
    .products-grid .product-item-info:hover .discount-splat {
        top: 14px;
        right: 14px;
    }
}