<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="limitless_legacyorders" frontName="legacy-orders">
            <module name="Limitless_LegacyOrders"/>
        </route>
    </router>
</config>