<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="general">

            <group id="limitless_footer_links" translate="label" sortOrder="1000" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Footer Links</label>

                <field id="max_footer_items" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max number of total footer links (columns and titles)</label>
                    <comment>0 (zero) is no limit</comment>
                </field>

                <field id="max_footer_titles_per_column" translate="label comment" type="text" sortOrder="23" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Max number of titles per column</label>
                    <comment>0 (zero) is no limit</comment>
                </field>

                <field id="links_block" translate="label comment" type="textarea" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Footer Links Block</label>
                    <comment>Start with a Column Name and %%% to split a Title and Link - new lines between all</comment>
                </field>
            </group>
        </section>
    </system>
</config>