<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="general">
            <group id="limitless_featured_categories" translate="label" sortOrder="999" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Homepage Featured Categories</label>
                <field id="featured_layout" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Layout</label>
                    <comment>Please select your layout</comment>
                    <source_model>Limitless\FeaturedCategories\Model\Config\Source\Custom</source_model>
                </field>
                <field id="featured_cta_text" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Text for CTA button</label>
                    <comment>Enter text for cta button. Leave blank for not button.</comment>
                </field>
                <field id="featured_one_enabled" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Featured Products One</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="featured_one_title" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Featured Products One Title</label>
                    <comment>Please enter your title. If no title is specified the overlay will not show.</comment>
                    <depends>
                        <field id="featured_one_enabled">1</field>
                    </depends>
                </field>
                <field id="featured_one_sub_title" translate="label" type="text" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Featured Products One Sub Title</label>
                    <depends>
                        <field id="featured_one_enabled">1</field>
                    </depends>
                </field>
                <field id="featured_one_url" translate="label" type="text" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <validate>required-entry</validate>
                    <label>Featured Products One Url</label>
                    <comment>Please enter your url</comment>
                    <depends>
                        <field id="featured_one_enabled">1</field>
                    </depends>
                </field>
                <field id="featured_one_image" translate="label" type="image" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Featured Products One Image</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">featured</upload_dir>
                    <base_url type="media" scope_info="1">featured</base_url>
                    <depends>
                        <field id="featured_one_enabled">1</field>
                    </depends>
                    <comment>Please upload your image in jpg, png, or gif format. Image dimensions 390px x 390px.</comment>
                </field>
                <field id="featured_two_enabled" translate="label" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Featured Products Two</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="featured_two_title" translate="label" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Featured Products Two Title</label>
                    <comment>Please enter your title. If no title is specified the overlay will not show.</comment>
                    <depends>
                        <field id="featured_two_enabled">1</field>
                    </depends>
                </field>
                <field id="featured_two_sub_title" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Featured Products Two Sub Title</label>
                    <depends>
                        <field id="featured_two_enabled">1</field>
                    </depends>
                </field>
                <field id="featured_two_url" translate="label" type="text" sortOrder="110" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <validate>required-entry</validate>
                    <label>Featured Products Two Url</label>
                    <comment>Please enter your url</comment>
                    <depends>
                        <field id="featured_two_enabled">1</field>
                    </depends>
                </field>
                <field id="featured_two_image" translate="label" type="image" sortOrder="120" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Featured Products Two Image</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">featured</upload_dir>
                    <base_url type="media" scope_info="1">featured</base_url>
                    <depends>
                        <field id="featured_two_enabled">1</field>
                    </depends>
                    <comment>Please upload your image in jpg, png, or gif format. Image dimensions 390px x 390px.</comment>
                </field>
                <field id="featured_three_enabled" translate="label" type="select" sortOrder="130" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Featured Products Three</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="featured_three_title" translate="label" type="text" sortOrder="140" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Featured Products Three Title</label>
                    <comment>Please enter your title. If no title is specified the overlay will not show.</comment>
                    <depends>
                        <field id="featured_three_enabled">1</field>
                    </depends>
                </field>
                <field id="featured_three_sub_title" translate="label" type="text" sortOrder="150" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Featured Products Three Sub Title</label>
                    <depends>
                        <field id="featured_three_enabled">1</field>
                    </depends>
                </field>
                <field id="featured_three_url" translate="label" type="text" sortOrder="160" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <validate>required-entry</validate>
                    <label>Featured Products Three Url</label>
                    <comment>Please enter your url</comment>
                    <depends>
                        <field id="featured_three_enabled">1</field>
                    </depends>
                </field>
                <field id="featured_three_image" translate="label" type="image" sortOrder="170" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Featured Products Three Image</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">featured</upload_dir>
                    <base_url type="media" scope_info="1">featured</base_url>
                    <depends>
                        <field id="featured_three_enabled">1</field>
                    </depends>
                    <comment>Please upload your image in jpg, png, or gif format. Image dimensions 390px x 390px.</comment>
                </field>
                <field id="featured_four_enabled" translate="label" type="select" sortOrder="180" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Featured Products Four</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="featured_four_title" translate="label" type="text" sortOrder="190" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Featured Products Four Title</label>
                    <comment>Please enter your title. If no title is specified the overlay will not show.</comment>
                    <depends>
                        <field id="featured_four_enabled">1</field>
                    </depends>
                </field>
                <field id="featured_four_sub_title" translate="label" type="text" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Featured Products Four Sub Title</label>
                    <depends>
                        <field id="featured_four_enabled">1</field>
                    </depends>
                </field>
                <field id="featured_four_url" translate="label" type="text" sortOrder="210" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <validate>required-entry</validate>
                    <label>Featured Products Four Url</label>
                    <comment>Please enter your url</comment>
                    <depends>
                        <field id="featured_four_enabled">1</field>
                    </depends>
                </field>
                <field id="featured_four_image" translate="label" type="image" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1" >
                    <label>Featured Products Four Image</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">featured</upload_dir>
                    <base_url type="media" scope_info="1">featured</base_url>
                    <depends>
                        <field id="featured_four_enabled">1</field>
                    </depends>
                    <comment>Please upload your image in jpg, png, or gif format. Image dimensions 390px x 390px.</comment>
                </field>
                <field id="featured_five_enabled" translate="label" type="select" sortOrder="230" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enable Featured Products Side Feature</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="featured_five_title" translate="label" type="text" sortOrder="240" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Featured Products Side Feature Title</label>
                    <comment>Please enter your title. If no title is specified the overlay will not show.</comment>
                    <depends>
                        <field id="featured_five_enabled">1</field>
                    </depends>
                </field>
                <field id="featured_five_sub_title" translate="label" type="text" sortOrder="250" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Featured Products Side Feature Sub Title</label>
                    <depends>
                        <field id="featured_five_enabled">1</field>
                    </depends>
                </field>
                <field id="featured_five_url" translate="label" type="text" sortOrder="260" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <validate>required-entry</validate>
                    <label>Featured Products Side Feature Url</label>
                    <comment>Please enter your url</comment>
                    <depends>
                        <field id="featured_five_enabled">1</field>
                    </depends>
                </field>
                <field id="featured_five_image" translate="label" type="image" sortOrder="270" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1" >
                    <label>Featured Products Side Feature Desktop Image</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">featured</upload_dir>
                    <base_url type="media" scope_info="1">featured</base_url>
                    <depends>
                        <field id="featured_five_enabled">1</field>
                    </depends>
                    <comment>Please upload your image in jpg, png, or gif format</comment>
                </field>
                <field id="featured_five_image_mobile" translate="label" type="image" sortOrder="280" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1" >
                    <label>Featured Products Side Feature Mobile Image</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                    <upload_dir config="system/filesystem/media" scope_info="1">featured</upload_dir>
                    <base_url type="media" scope_info="1">featured</base_url>
                    <depends>
                        <field id="featured_five_enabled">1</field>
                    </depends>
                    <comment>Please upload your image in jpg, png, or gif format. Minimum width must be 767px.</comment>
                </field>
            </group>
        </section>
    </system>
</config>