div.social-links {
  float:left;
  width:100%;
  margin:0 0 20px 0;
  p {
    color:#666;
    font-size:14px;
    line-height:26px;
  }
  a {
    color:#fff;
    font-size:14px;
    float:left;
    line-height:36px;
    margin:0 10px 0 0;
    width:110px;
    span {
      margin-left:10px;
    }
    &:before {
      float:left;
    }
  }

  a.facebook {
    &:before {
      content:url('../images/facebook.svg');
    }
  }

  a.pinterest {
    &:before {
      content:url('../images/pinterest.svg');
    }
  }

  a.twitter {
    &:before {
      content:url('../images/twitter.svg');
    }
  }

  a.google-plus {
    &:before {
      content:url('../images/google-plus.svg');
    }
  }

  a.you-tube {
    &:before {
      content:url('../images/you-tube.svg');
    }
  }

}

.page-footer {
  div.trustpilot-footer-banner {
    background:#333333;
    width:100%;
    display:inline-block;
    padding:10px 0 10px 0;
    height:45px;
    div.tp-footer-wrapper {
      max-width:1280px;
      margin-left:auto;
      margin-right:auto;
      div.tp-footer-logo {
        display:none;
        img {
          width:220px;
          height:45px;
        }
      }
      div.trustpilot-widget {
        width:100%;
        iframe {
          margin:12px 0 0;
        }
      }
    }
  }

  .payment-footer {
    display:inline-block;
    width:100%;
    background:#fff;
    padding:20px 0 20px 0;
    text-align:center;
    .payment-footer-wrapper {
      max-width:1280px;
      margin-left:auto;
      margin-right:auto;
      .payment-icons {
        display:inline-block;
        border-bottom:1px solid #ccc;
        margin: 0 0 20px 0;
        padding: 0 0 10px 0;
        span {
          margin:0 5px 5px 0;
        }
        p {
          display:inline-block;
          width:100%;
          font-size:10px;
        }
        .visa {
          background-image:url("../images/hr-icons.svg");
          background-position:-69px -14px;
          width:41px;
          height:28px;
          display:inline-block;
        }

        .mastercard {
          background-image:url("../images/hr-icons.svg");
          background-position:-69px -52px;
          width:41px;
          height:28px;
          display:inline-block;
        }

        .paypal {
          background-image:url("../images/hr-icons.svg");
          background-position:-69px -90px;
          width:41px;
          height:28px;
          display:inline-block;
        }

        .amex {
          background-image:url("../images/hr-icons.svg");
          background-position:-69px -166px;
          width:41px;
          height:28px;
          display:inline-block;
        }

        .klarna {
          background-image:url("../images/hr-icons.svg");
          background-position:-69px -128px;
          width:41px;
          height:28px;
          display:inline-block;
        }

        .giro-pay {
          background-image:url("../images/hr-icons.svg");
          background-position:-57px -204px;
          width:65px;
          height:28px;
          display:inline-block;
        }

        .bank-transfer {
          background-image:url("../images/hr-icons.svg");
          background-position:-53px -242px;
          width:74px;
          height:28px;
          display:inline-block;
        }

        .worldpay {
          background-image:url("../images/hr-icons.svg");
          background-position:-51px -277px;
          width:98px;
          height:28px;
          display:inline-block;
        }
      }
      .hr-flags {
        a {
          width:32px;
          height:21px;
          display:inline-block;
          margin:0 7px 0 0;
        }
        .hr-fr-flag {
          background-image:url("../images/hr-icons.svg");
          background-position:-73px -314px;
        }

        .hr-es-flag {
          background-image:url("../images/hr-icons.svg");
          background-position:-73px -345px;
        }

        .hr-it-flag {
          background-image:url("../images/hr-icons.svg");
          background-position:-73px -375px;
        }

        .hr-nl-flag {
          background-image:url("../images/hr-icons.svg");
          background-position:-73px -406px;
        }

        .hr-at-flag {
          background-image:url("../images/hr-icons.svg");
          background-position:-73px -437px;
        }

        .hr-be-flag {
          background-image:url("../images/hr-icons.svg");
          background-position:-73px -468px;
        }

        .hr-lu-flag {
          background-image:url("../images/hr-icons.svg");
          background-position:-73px -499px;
        }
      }
    }
  }
}

div#sales-hotline {
  position:absolute;
  top:6px;
  right:40px;
  span {
    display:none;
  }
  a {
    color:#fff;
    text-decoration:none;
    &:before {
      content:url("../images/hr-tel-icon.svg");
      float:left;
    }
  }

}

.hr-home-blurb {
  background:#efefef;
  font-size:12px;
  text-align:center;
  padding:20px;
  h2 {
    margin:0 0 20px 0;
    padding:0;
    font-weight:500;
  }
  p {
    line-height:20px;
  }
}

#my-account-link, #my-account-link span {
  display:none;
}

#my-account-link a:after {
  content: url("../images/hr-my-account.svg");
  float:right;
  margin-top:5px;
}


div.homepage-banner {
  margin:0 0 20px 0;
}

div.featured-categories {
  width:100%;
  display:flex;
  margin:0 0 20px 0;
  a {
    width:24%;
    display:inline-block;
    margin-right:2%;
    &:last-child {
      margin-right:0;
    }
  }
  img {
    width:100%;
  }
}

@media screen and (min-width: 768px) {
  .payment-footer {
      p {
        float: right;
        width: 30%;
      }
   }

  .page-footer {
    .trust-pilot-footer-banner {
      .tp-footer-wrapper {
        div.trustpilot-widget {
          width:100%;
        }
      }
    }
    .footer.content {
      div.social-links {
        width:50%;
        p {
          font-size:12px;
        }
        a {
          font-size:12px;
        }
      }
    }
  }

  div#sales-hotline {
    float:right;
    margin: 0 30px 0 0;
    font-size:12px;
    position:static;
    span {
      span {
        font-weight:bold;
      }
    }
  }

  #my-account-link {
    float:right;
    margin:0 30px 0 0;
    font-size:12px;
    display:inline-block;
    a {
      color:#fff;
      text-decoration:none;
    }
  }

}

@media screen and (min-width: 1024px) {

  .page-footer {
    text-align:left;
    div.trustpilot-footer-banner {
      div.tp-footer-wrapper {
        div.tp-footer-logo {
          display:block;
          width:20%;
          float:left;
        }
        div.trustpilot-widget {
          width:80%;
          float:right;
        }
      }
    }
    .footer.content {
      div.social-links {
        width:25%;
      }
    }
    .payment-footer {
      text-align:left;
      .payment-footer-wrapper {
        .payment-icons {
          width:70%;
          border:none;
          margin:0;
          padding:0;
          span {
            float:left;
          }
          p {
            float:left;
            width:30%;
            margin:0 0 0 10px;
            text-align:left;
          }
        }
        .hr-flags {
          float:right;
        }
      }
    }
  }

}

@media screen and (min-width: 1180px) {

  div#sales-hotline {
    span {
      line-height: 40px;
      margin: 0 0 0 10px;
      display: inline-block;
    }
  }

  #my-account-link {
    span {
      display: inline-block;
      line-height: 40px;
      margin: 0 10px 0 0;
    }
  }

}

@media screen and (min-width: 1280px) {
  .page-footer {
    .payment-footer {
      .payment-footer-wrapper {
        .payment-icons {
          span {
            margin: 0 20px 5px 0;
          }
        }
      }
    }
  }
}





