.cms-index-index {

  .columns {
    .column.main {
      padding-bottom:0;
    }
  }

  .widget-product-grid {
    .product-item {
      width: 50% !important;
      .product-item-name {
        height: 60px;
        overflow: hidden;
        font-size: 1.3rem;
        > a {
          color: #666666;
        }
      }
      .product-item-actions {
        display: none;
      }
    }
  }
  .block-products-list {
    .pager {
      display:none;
    }
  }

  .featured-products {
    margin:40px 0 0 0;
    display:inline-block;
    .hdr {
      text-align:center;
      border-top:1px solid #cccccc;
      height:45px;
      margin:0 0 20px 0;
      > div {
        position: relative;
        overflow: hidden;
        background: #ffffff;
        line-height: 0px;
        white-space: nowrap;
        bottom: 28px;
        display: inline-block;
        padding: 0px 20px 0px 20px;
      }
      h3 {
        text-transform:uppercase;
        color:#999999;
        font-size:36px;
        margin:5px;
      }
    }
  }

  .page-wrapper {
    .page-bottom {
      max-width: 100%;
      padding: 0;
      margin: 0;
      -webkit-flex-grow: 1;
      flex-grow: 1;
      -webkit-flex-shrink: 0;
      flex-shrink: 0;
      -webkit-flex-basis: auto;
      flex-basis: auto;
    }
  }

  .homepage-txt-container {
    background:#F0F0F0;
    .homepage-txt {
      background-color:#F0F0F0;
      max-width:1280px;
      margin-left:auto;
      margin-right:auto;
      text-align:center;
      padding:60px 30px 30px 30px;
      .hdr {
        border-top:1px solid #CCCCCC;
        height:25px;
        h1 {
          margin:0;
          font-size:23px;
          font-weight:500;
          position: relative;
          overflow: hidden;
          background: #F0F0F0;
          white-space: nowrap;
          bottom: 18px;
          display: inline-block;
          padding:0 20px 0 20px;
        }
      }

      .title {
        color:#8F9EAA;
        font-size:18px;
        font-weight:300;
        display:inline-block;
        margin:0 0 20px 0;
      }
      .text {
        p {
          color:#666666;
          margin:0 0 15px 0;
          line-height:22px;
        }
      }
    }
  }
}


.widget-product-grid {
  .product-item {
    margin-bottom:20px;
    .product-item-info {
      .product-item-details {
        .price-label {
          display:none;
        }
        .price-box {
          font-size: 1.8rem;
          font-weight:700;
          .old-price {
            float:left;
            margin:0 10px 0 0;
            color:#a8a8a8;
          }
          .special-price {
            float:left;
          }
          .minimal-price-link {
            display:none;
          }
          .price {
            font-size: 1.8rem;
            font-weight: 700;
          }
        }
      }
    }
  }
}


div.social-links {
  float:left;
  width:100%;
  margin:0 0 20px 0;
  p {
    color:#666;
    font-size:14px;
    line-height:26px;
  }
  p.hdr {
    font-size:18px;
    padding:20px 0 20px 0;
    margin:0;
  }
  a {
    color:#fff;
    font-size:14px;
    float:left;
    line-height:36px;
    margin:0 15px 12px 0;
    span {
      margin-left:10px;
      display:none;
    }
    &:before {
      width:37px;
      height:37px;
      content:'';
      float:left;
      background:url('../images/hr-eu-sprite.svg') no-repeat 0 0;
      background-size:137px 2700px;
    }
  }

  a.facebook {
    &:before {
      background-position:-52px -275px;
    }
  }

  a.pinterest {
    &:before {
      background-position:-53px -384px;
    }
  }

  a.twitter {
    &:before {
      background-position:-52px -435px;
    }
  }

  a.google-plus {
    &:before {
      background-position:-52px -328px;
    }
  }

  a.you-tube {
    &:before {
      background-position:-52px -488px;
    }
  }

}

.page-footer {
  div.trustpilot-footer-banner {
    background:#424242;
    width:100%;
    float:left;
    padding:10px 0 10px 0;
    height:45px;
    div.tp-footer-wrapper {
      max-width:1280px;
      margin-left:auto;
      margin-right:auto;
      div.tp-footer-logo {
        display:none;
        img {
          width:220px;
          height:45px;
        }
      }
      div.trustpilot-widget {
        width:100%;
        iframe {
          margin:12px 0 0;
        }
      }
    }
  }

  .payment-footer {
    display:inline-block;
    width:100%;
    background:#fff;
    padding:20px 0 20px 0;
    text-align:center;
    .payment-footer-wrapper {
      max-width:1280px;
      margin-left:auto;
      margin-right:auto;
      .payment-icons {
        display:inline-block;
        border-bottom:1px solid #ccc;
        margin: 0 0 20px 0;
        padding: 0 0 10px 0;
        > span {
          content:"";
          background:url('../images/hr-eu-sprite.svg') no-repeat 0 0;
          background-size:137px 2700px;
          display:inline-block;
          margin:0 5px 5px 0;
        }
        .security-text {
          display:inline-block;
          width:100%;
          font-size:10px;
          span.aws-secure {
              content:"";
              background:url('../images/hr-eu-sprite.svg') no-repeat 0 0;
              background-size:137px 2700px;
              display:inline-block;
              margin:0 5px 5px 0;
          }
          span.secure-text {
            float:left;
            width:100%;
          }
        }
        .visa {
          background-position:-51px -1014px;
          width:42px;
          height:28px;
        }

        .mastercard {
          background-position:-49px -1307px;
          width:46px;
          height:29px;
        }

        .paypal {
          background-position:-50px -1254px;
          width:42px;
          height:29px;
        }

        .amex {
          background-position:-50px -1061px;
          width:42px;
          height:28px;
        }

        .klarna {
          background-position:-51px -1107px;
          width:42px;
          height:28px;
        }

        .giro-pay {
          background-position:-39px -1203px;
          width:66px;
          height:28px;
        }

        .bank-transfer {
          background-position:-35px -1365px;
          width:74px;
          height:29px;
        }

        .worldpay {
          background-position:-30px -1155px;
          width:98px;
          height:28px;
        }
        .security-text {
          span.aws-secure {
            background-position: -58px -1897px;
            width: 30px;
            height: 30px;
            margin-right: 10px;
          }
        }
      }
      .hr-flags {
        > a {
          width:32px;
          height:22px;
          margin:0 7px 0 0;
          content:"";
          background:url('../images/hr-eu-sprite.svg') no-repeat 0 0;
          background-size:137px 2700px;
          display:inline-block;
        }
        .hr-fr-flag {
          background-position:-54px -971px;
        }

        .hr-de-flag {
          background-position:-54px -1859px;
        }

        .hr-es-flag {
          background-position:-54px -929px;
        }

        .hr-it-flag {
          background-position:-54px -890px;
        }

        .hr-nl-flag {
          background-position:-54px -850px;
        }

        .hr-at-flag {
          background-position:-54px -809px;
        }

        .hr-be-flag {
          background-position:-54px -769px;
        }

        .hr-lu-flag {
          background-position:-54px -728px;
        }
      }
    }
  }
}

.hr-home-blurb {
  background:#efefef;
  font-size:12px;
  text-align:center;
  padding:20px;
  h2 {
    margin:0 0 20px 0;
    padding:0;
    font-weight:500;
  }
  p {
    line-height:20px;
  }
}

#my-account-link, #my-account-link span {
  display:none;
}

#my-account-link a:after {
  content:"";
  background:url('../images/hr-eu-sprite.svg') no-repeat 0 0;
  background-size:137px 2700px;
  background-position:-55px -634px;
  height:32px;
  width:32px;
  float:right;
  margin-top:6px;
}


div.homepage-banner {
  margin:0 0 20px 0;
}

div.featured-categories {
  width:100%;
  display:flex;
  margin:0 0 20px 0;
  a {
    width:24%;
    display:inline-block;
    margin-right:2%;
    &:last-child {
      margin-right:0;
    }
  }
  img {
    width:100%;
  }
}


.navigation {
  ul {
    li {
      a > {
        i {
          background:url("../images/menu-icons.svg");
          background-position:0 32px;
          display:inline-block;
          height:32px;
          width:32px;
          vertical-align:middle;
          margin-right:20px;
        }

        // DE
        i.heizkörper {
          background-position:-9px -6px;
        }
        i.hantuchheizkörper {
          background-position:-9px -47px;
        }
        i.armaturen {
          background-position:-10px -90px;
        }
        i.duschen {
          background-position:-9px -133px;
        }
        i.toiletten {
          background-position:-9px -179px;
        }
        i.waschtische {
          background-position:-8px -223px;
        }
        i.badewannen {
          background-position:-8px -266px;
        }
        i.badmöbel {
          background-position:-8px -310px;
        }
        i.beleuchtung {
          background-position:-8px -354px;
        }
        i.sale {
          background-position:-8px -398px;
        }

        //ES
        i.radiadores {
          background-position:-9px -6px;
        }
        i.radiadorestoalleros {
          background-position:-9px -47px;
        }
        i.grifería {
          background-position:-10px -90px;
        }
        i.duchas {
          background-position:-9px -133px;
        }
        i.inodoros {
          background-position:-9px -179px;
        }
        i.lavabos {
          background-position:-8px -223px;
        }
        i.bañeras {
          background-position:-8px -266px;
        }
        i.muebles {
          background-position:-8px -310px;
        }
        i.iluminación {
          background-position:-8px -354px;
        }
        i.ofertas {
          background-position:-8px -398px;
        }
        span {
          display:inline-block;
        }
      }
    }
  }
}


@media screen and (min-width: 640px) {
  div.social-links {
    a {
      width:110px;
      span {
        display:inline-block;
      }
    }
    p.hdr {
      padding: 10px 0 8px 0;
      font-size:14px;
    }
  }
}

@media screen and (min-width: 768px) {

  .page-footer {
    .trust-pilot-footer-banner {
      .tp-footer-wrapper {
        div.trustpilot-widget {
          width:100%;
        }
      }
    }
    .footer.content {
      div.social-links {
        width:50%;
        p {
          font-size:12px;
        }
        p.hdr {
          text-transform:uppercase;
        }
        a {
          font-size:12px;
        }
      }
    }
    .payment-footer {
      .payment-footer-wrapper {
        .payment-icons {
          .security-text {
            width: 30%;
            span.secure-text {
              width:70%;
            }
          }
        }
      }
    }
  }

  #my-account-link {
    float:right;
    margin:0 40px 0 0;
    font-size:12px;
    display:inline-block;
    a {
      color:#fff;
      text-decoration:none;
    }
  }

  div.social-links {
    a {
      width:110px;
      span {
        display:inline-block;
      }
    }
  }

  .cms-index-index {
    .homepage-txt-container {
      .homepage-txt {
        .hdr {
          h1 {
            font-size: 30px;
          }
        }
        .title {
          font-size: 26px;
        }
      }
    }
  }

  .menu-overlay {
    opacity:0.2;
    background:#000;
    height:100%;
    position:absolute;
    width:100%;
    z-index:2;
    display:none;
  }

  .navigation {
    ul {
      li {
        > a {
          i {
            display:none;
          }
        }
      }
    }
  }

}

@media screen and (min-width: 1024px) {

  .page-footer {
    text-align:left;
    div.trustpilot-footer-banner {
      div.tp-footer-wrapper {
        div.tp-footer-logo {
          display:block;
          width:20%;
          float:left;
        }
        div.trustpilot-widget {
          width:80%;
          float:right;
        }
      }
    }
    .footer.content {
      div.social-links {
        width:26%;
      }
    }
    .payment-footer {
      text-align:left;
      .payment-footer-wrapper {
        .payment-icons {
          width:70%;
          border:none;
          margin:0;
          padding:0;
          span {
            float:left;
          }
          .security-text {
            float:left;
            width:45%;
            margin:0 0 0 10px;
            text-align:left;
          }
        }
        .hr-flags {
          float:right;
        }
      }
    }
  }

  div.social-links {
    margin:0;
  }

  .cms-index-index {
    .widget-product-grid {
      .product-item {
        width:21.866666% !important;
      }
    }
  }

}

@media screen and (min-width: 1180px) {

  #my-account-link {
    span {
      display: inline-block;
      line-height: 40px;
      margin: 0 12px 0 0;
      text-transform:uppercase;
      font-size:11px;
    }
  }

}

@media screen and (min-width: 1280px) {
  .page-footer {
    .payment-footer {
      .payment-footer-wrapper {
        .payment-icons {
          > span {
            margin: 0 20px 5px 0;
          }
          .security-text {
            span.secure-text {
              width:75%;
            }
          }
        }
      }
    }
  }
}





