div.social-links {
  display:inline-block;
  width:28%;
  padding:0 25px 0 25px;
}

div.social-links p {
  color:#666;
  font-size:12px;
}

div.social-links a {
  color:#fff;
  font-size:12px;
  display:inline-block;
  line-height:36px;
  margin:0 10px 0 0;
}

div.social-links a span {
  margin-left:10px;
}

div.social-links a:before {
  float:left;
}

div.social-links a.facebook:before {
  content:url('../images/facebook.svg');
}

div.social-links a.pinterest:before {
  content:url('../images/pinterest.svg');
}

div.social-links a.twitter:before {
  content:url('../images/twitter.svg');
}

div.social-links a.google-plus:before {
  content:url('../images/google-plus.svg');
}

div.social-links a.you-tube:before {
  content:url('../images/you-tube.svg');
}


div.trustpilot-footer-banner {
  background:#333333;
  width:100%;
  display:inline-block;
  padding:10px 0 10px 0;
  height:45px;
}

div.tp-footer-wrapper {
  max-width:1280px;
  margin-left:auto;
  margin-right:auto;
}

div.tp-footer-logo {
  width:20%;
  float:left;
}

div.trustpilot-widget {
  width:80%;
  float:right;
}

div.trustpilot-footer-banner iframe {
  margin:12px 0 0;
}


div.homepage-banner {

}

div.featured-categories a {

}

div.featured-categories a:last-child {
  margin-right:0;
}

