.global-lister-banner {
    max-width:1280px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:10px;
    width:100%;
}

@media screen and (min-width: 768px) {
    .global-lister-banner {
        padding-left:2%;
        padding-right:2%;
        margin-bottom:20px;
        margin-top:0;
        width:96%;
    }
}