<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="general">
            <group id="store_information" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="merchant_vat_number2" translate="label" type="text" sortOrder="63" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Website Specific VAT Number</label>
                    <comment>This VAT number is not VIES registered and is for display purposes only.</comment>
                    <can_be_empty>1</can_be_empty>
                </field>
            </group>
        </section>
    </system>
</config>