<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <currency>
            <solvitt>
                <wsdl>http://127.0.0.1/path-to-solvitt-wsdl?wsdl</wsdl>
                <timeout>100</timeout>
            </solvitt>
        </currency>
    </default>
</config>
