<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Model\Product\Image\Cache">
        <plugin name="limitless_apiImageBypass"
                type="Limitless\ApiImageBypass\Plugin\ApiBypassProductImageCache"/>
    </type>
</config>